In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from sklearn.metrics import classification_report, accuracy_score
import tensorflow as tf
warnings.filterwarnings('ignore')
%matplotlib inline

# 경향성이 있는 그래프의 선형적으로 증가할 수 있게 하는 함수 
def trend(time, slope = 0):
    return time * slope

# x: 시간축인 함수 plot 함수
def plot_series(time, series, format="-", start=0, end=None, label=None):
    plt.plot(time[start:end], series[start:end], format, label=label)
    plt.xlabel("Time")
    plt.ylabel("Value")
    if label:
        plt.legend(fontsize=14)
    plt.grid(True)

# 120개씩 자르는 함수 
def univariate_data(dataset, start_index, end_index):
    data = []
    history_size = 120
    start_index = start_index + history_size


    for i in range(start_index, end_index, 120): # 0
        indices = range(i - history_size, i) # [0 - 120] , [120 - 240] ...
        # Reshape data from (history_size,) to (history_size, 1)

        data.append(dataset[indices])

    return np.array(data)

for i in range(1,9):
    globals()['df_'+str(i) ]= pd.read_csv('./temperature_csv_file/temp_df_{}.csv'.format(i), encoding = 'cp949')

df_all = pd.concat([df_1, df_2], axis = 0)
df_all = pd.concat([df_all, df_3], axis = 0)
df_all = pd.concat([df_all, df_4], axis = 0)
df_all = pd.concat([df_all, df_5], axis = 0)
df_all = pd.concat([df_all, df_6], axis = 0)
df_all = pd.concat([df_all, df_7], axis = 0)
df_all = pd.concat([df_all, df_8], axis = 0)

df_all = df_all[:601800].reset_index().drop(columns = ['index'], axis = 0)

for i in range(1,8):
    globals()['df_'+str(i)+'_tmp'] = df_all[85920*(i-1):85920*i].reset_index().drop(columns=['index'], axis=0)


for i in range(1,8):
    mean = globals()['df_'+str(i)+'_tmp']['TEMP'].mean()
    diff  = 261.7292228119181 - mean
    globals()['df_'+str(i)+'_tmp']['TEMP'] += diff

for i in range(8,12):
    globals()['df_'+str(i)+'_tmp'] = globals()['df_'+str(i-5)+'_tmp'].copy()

N = 6
dx = (600 - df_1_tmp['TEMP'].mean()) / N # 전체 데이터에 대한 증가율 : 56.3785
dx_minute = dx / (len(df_1_tmp)-1) # 분당 증가율

time = np.arange(85920)
slope = dx_minute * 2

def trend(time, slope = 0):
    return time * slope

for i in range(2,12):
    series = np.round(trend(time, slope = slope) + globals()['df_'+str(i)+'_tmp']['TEMP'] + dx*(i-2), 3)
    globals()['df_'+str(i)+'_tmp']['TEMP'] = series


univariate_past_history = 120

for i in range(1,12):
    data = {'MEAN_TEMP' : [], 'STD' : [], 'MIN' : [], 'MAX' : [], 'SKEW' : [], 'KURT' : [], 'MEDIAN':[], '25%' : [], '75%' : [], 'Group' : []}

    for j in range(716):
        MEAN = np.round(globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)].mean(),3)
        MIN = np.min(globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)])
        MAX = np.max(globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)])
        STD = np.std(globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)])
        skew = globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)].skew()
        kurt = globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)].kurt()
        median = globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)].median()
        a, b = np.percentile(globals()['df_'+str(i)+'_tmp']['TEMP'][120*j:120*(j+1)], q=[25,75])
        data['Group'].append(i)
        data['MEAN_TEMP'].append(MEAN)
        data['MIN'].append(MIN)
        data['MAX'].append(MAX)
        data['STD'].append(STD)
        data['SKEW'].append(skew)
        data['KURT'].append(kurt)
        data['MEDIAN'].append(np.round(median,3))
        data['25%'].append(np.round(a,3))
        data['75%'].append(np.round(b,3))

    globals()['group_'+str(i)] = pd.DataFrame(data)

TIME = pd.DataFrame({'TIME' : np.arange(7876)})
tmp = pd.concat([group_1, group_2], axis = 0)
tmp = pd.concat([tmp, group_3], axis = 0)
tmp = pd.concat([tmp, group_4], axis = 0)
tmp = pd.concat([tmp, group_5], axis = 0)
tmp = pd.concat([tmp, group_6], axis = 0)
tmp = pd.concat([tmp, group_7], axis = 0)
tmp = pd.concat([tmp, group_8], axis = 0)
tmp = pd.concat([tmp, group_9], axis = 0)
tmp = pd.concat([tmp, group_10], axis = 0)
tmp = pd.concat([tmp, group_11], axis = 0)
tmp = tmp.reset_index()
tmp = pd.concat([tmp, TIME], axis = 1)
tmp.drop(columns = ['index'], inplace = True)
df = tmp

In [4]:
for i in range(1,8):
    globals()['df_'+str(i)+'_tmp'] = df_all[85920*(i-1):85920*i].reset_index().drop(columns=['index'], axis=0)


for i in range(1,8):
    mean = globals()['df_'+str(i)+'_tmp']['TEMP'].mean()
    diff  = 261.7292228119181 - mean
    globals()['df_'+str(i)+'_tmp']['TEMP'] += diff

for i in range(8,12):
    globals()['df_'+str(i)+'_tmp'] = globals()['df_'+str(i-5)+'_tmp'].copy()

for i in range(2,12):
    series = np.round(trend(time, slope = slope) + globals()['df_'+str(i)+'_tmp']['TEMP'] + dx*(i-2), 3)
    globals()['df_'+str(i)+'_tmp']['TEMP'] = series

for i in range(1,12):
    data = {'MEAN_TEMP' : [], 'STD' : [], 'MIN' : [], 'MAX' : [], 'SKEW' : [], 'KURT' : [], 'MEDIAN':[], '25%' : [], '75%' : [], 'Group' : []}

    for j in range(0,85890,30):
        temp = globals()['df_'+str(i)+'_tmp']['TEMP'][j:j+60]
        MEAN = np.round(np.mean(temp), 3)
        MIN = np.min(temp)
        MAX = np.max(temp)
        STD = np.std(temp)
        median = temp.median()
        skew = temp.skew()
        kurt = temp.kurt()
        a, b = np.percentile(temp, q = [25,75])

        data['Group'].append(i)
        data['MEAN_TEMP'].append(MEAN)
        data['MIN'].append(MIN)
        data['MAX'].append(MAX)
        data['STD'].append(STD)
        data['SKEW'].append(skew)
        data['KURT'].append(kurt)
        data['MEDIAN'].append(np.round(median,3))
        data['25%'].append(np.round(a,3))
        data['75%'].append(np.round(b,3))

    globals()['group_'+str(i)] = pd.DataFrame(data)


print(len(group_1))
TIME = pd.DataFrame({'TIME' : np.arange(31493)})
tmp = pd.concat([group_1, group_2], axis = 0)
tmp = pd.concat([tmp, group_3], axis = 0)
tmp = pd.concat([tmp, group_4], axis = 0)
tmp = pd.concat([tmp, group_5], axis = 0)
tmp = pd.concat([tmp, group_6], axis = 0)
tmp = pd.concat([tmp, group_7], axis = 0)
tmp = pd.concat([tmp, group_8], axis = 0)
tmp = pd.concat([tmp, group_9], axis = 0)
tmp = pd.concat([tmp, group_10], axis = 0)
tmp = pd.concat([tmp, group_11], axis = 0)
tmp = tmp.reset_index()
tmp = pd.concat([tmp, TIME], axis = 1)
tmp.drop(columns = ['index'], inplace = True)
df = tmp
df

2863

,MEAN_TEMP,STD,MIN,MAX,SKEW,KURT,MEDIAN,25%,75%,Group,TIME
0,284.174,1.466831,281.401,287.082,0.273302,-0.938145,283.754,283.220,285.415,1,0
1,283.751,0.812237,282.306,286.186,0.917778,0.722954,283.646,283.251,283.934,1,1
2,284.210,1.050080,282.354,286.597,0.380891,-0.499881,283.951,283.455,284.948,1,2
3,284.221,1.073647,282.258,286.597,0.162330,-0.533757,284.141,283.430,284.942,1,3
4,284.496,1.081369,282.258,286.949,0.196022,-0.205131,284.465,283.802,285.137,1,4
...,...,...,...,...,...,...,...,...,...,...,...
31488,934.232,0.523646,932.681,935.319,-0.621865,0.769795,934.249,933.954,934.539,11,31488
31489,934.109,0.407589,933.475,935.378,0.824594,0.907333,934.049,933.812,934.398,11,31489
31490,933.815,0.503591,932.890,935.378,0.883268,1.217729,933.759,933.476,934.088,11,31490
31491,933.488,0.414537,932.523,934.455,0.134729,-0.596169,933.445,933.174,933.778,11,31491
31492,933.549,0.452777,932.523,934.625,0.360092,-0.168300,933.469,933.240,933.862,11,31492

In [5]:
tmp = np.arange(945120)
TIME = pd.DataFrame({'TIME' : tmp})
df_temp_all = pd.concat([df_1_tmp, df_2_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_3_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_4_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_5_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_6_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_7_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_8_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_9_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_10_tmp], axis = 0)
df_temp_all = pd.concat([df_temp_all, df_11_tmp], axis = 0)
df_temp_all = df_temp_all.reset_index().drop(columns = ['date', 'index','kst'])
df_temp_all = pd.concat([df_temp_all,TIME], axis = 1)
df_temp_all

           TEMP    TIME
0       286.797       0
1       287.082       1
2       285.938       2
3       285.772       3
4       286.357       4
...         ...     ...
945115  933.812  945115
945116  934.304  945116
945117  934.530  945117
945118  934.443  945118
945119  934.625  945119

[945120 rows x 2 columns]

In [6]:
df

,MEAN_TEMP,STD,MIN,MAX,SKEW,KURT,MEDIAN,25%,75%,Group,TIME
0,284.174,1.466831,281.401,287.082,0.273302,-0.938145,283.754,283.220,285.415,1,0
1,283.751,0.812237,282.306,286.186,0.917778,0.722954,283.646,283.251,283.934,1,1
2,284.210,1.050080,282.354,286.597,0.380891,-0.499881,283.951,283.455,284.948,1,2
3,284.221,1.073647,282.258,286.597,0.162330,-0.533757,284.141,283.430,284.942,1,3
4,284.496,1.081369,282.258,286.949,0.196022,-0.205131,284.465,283.802,285.137,1,4
...,...,...,...,...,...,...,...,...,...,...,...
31488,934.232,0.523646,932.681,935.319,-0.621865,0.769795,934.249,933.954,934.539,11,31488
31489,934.109,0.407589,933.475,935.378,0.824594,0.907333,934.049,933.812,934.398,11,31489
31490,933.815,0.503591,932.890,935.378,0.883268,1.217729,933.759,933.476,934.088,11,31490
31491,933.488,0.414537,932.523,934.455,0.134729,-0.596169,933.445,933.174,933.778,11,31491
31492,933.549,0.452777,932.523,934.625,0.360092,-0.168300,933.469,933.240,933.862,11,31492

# 실험

In [1]:
data = df_temp_all
data

NameError: name 'df_temp_all' is not defined

In [84]:
data['TEMP']

0         286.797
1         287.082
2         285.938
3         285.772
4         286.357
           ...
945115    933.812
945116    934.304
945117    934.530
945118    934.443
945119    934.625
Name: TEMP, Length: 945120, dtype: float64

In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import trange
import random

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

data['TEMP'] = scaler.fit_transform(data['TEMP'].to_numpy().reshape(-1,1))

In [87]:
945120 * 0.8

756096.0

In [89]:
train_len = int(len(data) * 0.8)
train = data[:train_len]
test = data[train_len:]

data_train = train['TEMP'].to_numpy()
data_test = test['TEMP'].to_numpy()

# LSTM Examples

In [92]:
from torch.utils.data import DataLoader, Dataset

class windowDataset(Dataset):
    def __init__(self, y, input_window, output_window, stride = 1):
        # 총 데이터의 개수
        L = y.shape[0]
        
        # stride 씩 움직일 때 생기는 총 샘플의 개수
        num_samples = (L - input_window - output_window) // stride + 1

        # input과 output : shape = (window , sample 개수)
        X = np.zeros([input_window, num_samples])
        Y = np.zeros([output_window, num_samples])

        for i in range(num_samples):
            start_x = stride * i
            end_x = start_x + input_window
            X[:, i] = y[start_x : end_x]

            start_y = stride * i + input_window
            end_y = start_y + output_window
            Y[:, i] = y[start_y:end_y]

        X = X.reshape(X.shape[0], X.shape[1], 1).transpose((1,0,2))
        Y = Y.reshape(Y.shape[0], Y.shape[1], 1).transpose((1,0,2))

        self.x = X
        self.y = Y

        self.len = len(X)

    def __getitem__(self, idx):
        return self.x[idx], self.y[idx]
    
    def __len__(self):
        return self.len

In [99]:
iw = 60
ow = 1

train_dataset = windowDataset(data_train, input_window = iw, output_window = ow, stride = 30)
train_loader = DataLoader(train_dataset, batch_size = 256)

test_dataset = windowDataset(data_test, input_window = iw, output_window = ow, stride = 30)
test_loader = DataLoader(test_dataset, batch_size = 256)

In [101]:
import torch.nn as nn

In [122]:
class lstm_encoder(nn.Module):

    def __init__(self, input_size, hidden_size, num_layers = 1):
        super().__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.num_layers = num_layers

        self.lstm = nn.LSTM(input_size = input_size, hidden_size = hidden_size, num_layers = num_layers, batch_first=True)
    
    def forward(self, x_input):
        lstm_out, self.hidden = self.lstm(x_input)
        return lstm_out, self.hidden
    
class lstm_decoder(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers = 1):
        super().__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.num_layers = num_layers

        self.lstm = nn.LSTM(input_size = input_size, hidden_size = hidden_size, num_layers = num_layers, batch_first=True)
        self.linear = nn.Linear(hidden_size, input_size)

    def forward(self, x_input, encoder_hidden_states):
        lstm_out, self.hidden = self.lstm(x_input.unsqueeze(-1), encoder_hidden_states)
        output = self.linear(lstm_out)

        return output, self.hidden

In [123]:
import torch
class lstm_encoder_decoder(nn.Module):
    def __init__(self, input_size, hidden_size):
        super().__init__()

        self.input_size = input_size
        self.hidden_size = hidden_size

        self.encoder = lstm_encoder(input_size = input_size, hidden_size = hidden_size)
        self.decoder = lstm_decoder(input_size = input_size, hidden_size = hidden_size)

    def forward(self, inputs, targets, target_len, teacher_forcing_ratio):
        batch_size = inputs.shape[0]
        input_size = inputs.shape[2]

        outputs = torch.zeros(batch_size, target_len, input_size)

        _, hidden = self.encoder(inputs)
        decoder_input = inputs[:,-1, :]
        
        #원하는 길이가 될 때까지 decoder를 실행한다.
        for t in range(target_len): 
            out, hidden = self.decoder(decoder_input, hidden)
            out =  out.squeeze(1)
            
            # teacher forcing을 구현한다.
            # teacher forcing에 해당하면 다음 인풋값으로는 예측한 값이 아니라 실제 값을 사용한다.
            if random.random() < teacher_forcing_ratio:
                decoder_input = targets[:, t, :]
            else:
                decoder_input = out
            outputs[:,t,:] = out

        return outputs
	
    # 편의성을 위해 예측해주는 함수도 생성한다.
    def predict(self, inputs, target_len):
        self.eval()
        inputs = inputs.unsqueeze(0)
        batch_size = inputs.shape[0]
        input_size = inputs.shape[2]
        outputs = torch.zeros(batch_size, target_len, input_size)
        _, hidden = self.encoder(inputs)
        decoder_input = inputs[:,-1, :]
        for t in range(target_len): 
            out, hidden = self.decoder(decoder_input, hidden)
            out =  out.squeeze(1)
            decoder_input = out
            outputs[:,t,:] = out
        return outputs.detach().numpy()[0,:,0]

In [124]:
device = "cuda" if torch.cuda.is_available else 'cpu'

model = lstm_encoder_decoder(input_size=1, hidden_size=16).to(device)

In [125]:
import torch.optim as optim
learning_rate = 0.001
epochs = 10
optimizer = optim.Adam(model.parameters(), lr = learning_rate)
criterion = nn.MSELoss()

In [126]:
from tqdm import tqdm

model.train()
with tqdm(range(epochs)) as tr:
    for i in tr:
        total_loss = 0.0
        for x,y in train_loader:
            optimizer.zero_grad()
            x = x.to(device).float()
            y = y.to(device).float()

            output = model(x,y,ow,0.6).to(device)
            loss = criterion(output, y)
            loss.backward()
            optimizer.step()
            total_loss += loss.cpu().item()
        tr.set_postfix(loss = "{0:.5f}".format(total_loss/len(train_loader)))

100%|██████████| 10/10 [00:03<00:00,  2.99it/s, loss=0.00040]

In [133]:
test['TEMP'].values

array([0.81468653, 0.81431268, 0.81385732, ..., 0.96194312, 0.96184857,
       0.96204636])

In [ ]:
predict = model.predict(torch.tensor(test['TEMP'].values).reshape(-1,1).to(device).float(), target_len=len(test))
real = data['TEMP'].to_numpy()

In [137]:
df

,MEAN_TEMP,STD,MIN,MAX,SKEW,KURT,MEDIAN,25%,75%,Group,TIME
0,284.174,1.466831,281.401,287.082,0.273302,-0.938145,283.754,283.220,285.415,1,0
1,283.751,0.812237,282.306,286.186,0.917778,0.722954,283.646,283.251,283.934,1,1
2,284.210,1.050080,282.354,286.597,0.380891,-0.499881,283.951,283.455,284.948,1,2
3,284.221,1.073647,282.258,286.597,0.162330,-0.533757,284.141,283.430,284.942,1,3
4,284.496,1.081369,282.258,286.949,0.196022,-0.205131,284.465,283.802,285.137,1,4
...,...,...,...,...,...,...,...,...,...,...,...
31488,934.232,0.523646,932.681,935.319,-0.621865,0.769795,934.249,933.954,934.539,11,31488
31489,934.109,0.407589,933.475,935.378,0.824594,0.907333,934.049,933.812,934.398,11,31489
31490,933.815,0.503591,932.890,935.378,0.883268,1.217729,933.759,933.476,934.088,11,31490
31491,933.488,0.414537,932.523,934.455,0.134729,-0.596169,933.445,933.174,933.778,11,31491
31492,933.549,0.452777,932.523,934.625,0.360092,-0.168300,933.469,933.240,933.862,11,31492

In [154]:
print(X_train.shape, X_test.shape)

torch.Size([25202, 60]) torch.Size([6299, 60])

# Transformer Examples