In [1]:
import torch
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import torch.nn as nn
import function_file.ML_functions as mf
import importlib
importlib.reload(mf)
warnings.filterwarnings('ignore')

from function_file.ML_functions import time_series_dataframe
df, time, label = time_series_dataframe()
df

              TEMP    TIME
0       284.542389       0
1       284.619389       1
2       284.809389       2
3       284.857389       3
4       285.228389       4
...            ...     ...
664791  870.418000  664791
664792  870.094000  664792
664793  870.150000  664793
664794  869.522000  664794
664795  869.504000  664795

[664796 rows x 2 columns]

In [8]:
np.array([i] * 10 for i in range(1,12)).reshape(-1)

array([<generator object <genexpr> at 0x169fb8dd0>], dtype=object)